body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: blue;
    color: white;
    padding: 10px;
    font-weight: 400;

}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.greeting {
    font-size: 20px;
    padding: 20px;
}

/*.h6  {*/
/*    color: white;*/
/*    font-size: 10px;*/
/*    font-weight: 400;*/

/*}*/